<% form_for @post, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
    <p><strong>CATEGORY</strong><br/>
      <%= link_to "manage categories", categories_path %>
    </p>

    <%= collection_select(:post, :category_id, Category.all, :id, :name, {:prompt => 'Select Category'}) %>

    <p><strong>DESCRIPTION</strong></p>
    <%= f.text_area :description %>

    <p><strong>TAGS</strong></p>
    <%= f.text_field :tag_list %>

    <p>ALL EXISTING TAGS<p>

    <% Post.tag_counts.each do |tag| %>

      <%=h tag %> | count: <%= tag.count %><br />
    <% end %>
    <p><strong>UPLOAD</strong></p>
    <%= f.file_field :image %>


    <% if @post.product %>
      <p><%= link_to "Go to product page", product_path(@post.product) %></p>
    <% else %>
      <p><%= check_box_tag "create_product" %> Create product</p>
    <% end %>

  <p><%= f.submit "Submit" %></p>
<% end %>

