<% form_for @post, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
    <p><strong>DESCRIPTION</strong></p>
    <%= f.text_area :description %>
    <%= f.text_field :tag_list %>

    <p><strong>UPLOAD</strong></p>
    <%= f.file_field :image %>



  <p><%= f.submit "Submit" %></p>
<% end %>

