<% title "home" %>
<% javascript :defaults, 'endless' %>

<div id=time>
  <p>the latest post was made<br/>on <%= Post.last_post_time %></p>
</div>
<% if logged_in? %>
  <p><%= button_to "New Post", new_post_path, :method => :get %><br /></p>
<% end %>

  <table class=main>
    <tr>
      <% @column.each_with_index do |posts, index| %>
        <td valign=top>
          <div id="column_<%= index+1 %>">
              <%= render :partial => 'post', :collection => posts  %>
          </div>
        </td>
      <% end %>
    </tr>
  <table>

  <div id="pagination">
    <%= will_paginate @posts %>
  </div>
  <div id=loading></div>

