<% title "Viewing Post" %>

<% if logged_in? %>
  <table>
    <tr>
        <td><%= button_to "Edit", edit_post_path(@post), :method => :get %></td>
        <td><%= button_to "Delete", post_path(@post), :method => :delete, :confirm => "Sure? Cannot undo!" %></td>
    </tr>
  </table>
<% end %>

    <div id=show_image>
      <%= link_to image_tag(@post.image.url), :back %>
    </div>

    <div id=description>
      <% if @post.description and @post.description.length > 0 %>
        <p><%= @post.description %></p>
      <% end %>
    </div>


    <div id=category>
      Category: <%= link_to(@post.category.name, category_path(@post.category.name)) if @post.category %>
    </div>

    <% unless @post.tag_list.empty? %>
      <div id="tags">
      Tags:
        <% @post.tag_list.each do |tag| %>
          <%= link_to tag, tagged_with_path(tag) %>
        <% end %>
      </div>
    <% end %>



    <div id=social_container>

      <div id=social>
         <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>&amp;layout=standard&amp;show_faces=false&amp;width=250&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:35px;" allowTransparency="true"></iframe>

      </div>
      <div id=social>
        <a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

      </div>

      <div id=social>

              <script type="text/javascript">
              (function() {
              var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'http://widgets.digg.com/buttons.js';
              s1.parentNode.insertBefore(s, s1);
              })();
              </script>

              <!-- Compact Button -->
              <a class="DiggThisButton DiggCompact"></a>
        </div>

      <div id=social>

              <a href="http://twitter.com/share" class="twitter-share-button">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

      </div>
  </div>

  <h1>Similar</h1>

  <div id=related>

      <table class=main>
        <tr>
          <% @column.each_with_index do |posts, index| %>
            <td valign=top>
              <div id="column_<%= index+1 %>">
                  <%= render :partial => 'post', :collection => posts, :locals => { :size => :thumb }  %>
              </div>
            </td>
          <% end %>
        </tr>
      <table>

  </div>

