<% title "Viewing Post" %>

<% if logged_in? %>
  <table>
    <tr>
        <td><%= button_to "Edit", edit_post_path(@post), :method => :get %></td>
        <td><%= button_to "Delete", post_path(@post), :method => :delete, :confirm => "Sure? Cannot undo!" %></td>
    </tr>
  </table>
<% end %>

<table>
  <tr>
    <td valign=top>
      <%= link_to image_tag(@post.image.url), :root %>
      <br />

      <% if @post.description %>
        <p><%= @post.description %></p>
      <% end %>

    <div id=category>
      Category: <%= link_to(@post.category.name, category_path(@post.category.name)) if @post.category %>
    </div>

      <% unless @post.tag_list.empty? %>
        <div id="tags">
        Tags:
          <% @post.tag_list.each do |tag| %>
            <%= link_to tag, tagged_with_path(tag) %>
          <% end %>
        </div>
      <% end %>

    </td>
    <td valign=top>
      <div id=related>
        <%= render :partial => 'post', :collection => @post.related  %>
      </div>

    </td>
  </tr>
</table>

    <iframe src="http://www.facebook.com/plugins/like.php?href=<%= request.url %>&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

    <a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

<a href="http://twitter.com/share" class="twitter-share-button">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>


<script type="text/javascript">
(function() {
var s = document.createElement('SCRIPT'), s1 = document.getElementsByTagName('SCRIPT')[0];
s.type = 'text/javascript';
s.async = true;
s.src = 'http://widgets.digg.com/buttons.js';
s1.parentNode.insertBefore(s, s1);
})();
</script>

<!-- Compact Button -->
<a class="DiggThisButton DiggCompact"></a>

