<% title "Viewing Post" %>

<% if logged_in? %>
  <table>
    <tr>
        <td><%= button_to "Edit", edit_post_path(@post), :method => :get %></td>
        <td><%= button_to "Delete", post_path(@post), :method => :delete, :confirm => "Sure? Cannot undo!" %></td>
    </tr>
  </table>
<% end %>

<div id=time>
  <p>this post was made<br/>on <%= @post.formatted_created_at %></p>
</div>

    <table cellspacing=0 cellpadding=0 border=0>
      <tr>
        <td colspan=2>
            <%= image_tag(@post.image.url) %>

            <% if @post.description and @post.description.length > 0 %>
              <p><%= sanitize(@post.description) %></p>
            <% end %>


            <p>Category: <%= link_to(sanitize(@post.category.name), category_path(@post.category.name), :class => "menu") if @post.category %>

            <% unless @post.tag_list.empty? %>
              <br/>Tags:
                <% @post.tag_list.each do |tag| %>
                  <%= link_to sanitize(tag), tagged_with_path(tag), :class => "menu" %>
                <% end %>
            <% end %>
          </p>
        </td>
      </tr>
      <tr>
        <td valign=top width=225>
            <fb:like width="225"></fb:like>
        </td>
        <td valign=top>
          <div id=social_right_align>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
            </div>

          <div id=social_right_align style="text-align:left;">
                <a class="DiggThisButton DiggCompact"></a>
          </div>
          </td>
        </tr>
      </table>

  <% if @column.size > 0 %>
    <p>SIMILAR</p>

        <table class=main >
          <tr>
            <% @column.each_with_index do |posts, index| %>
              <td valign=top>
                <div id="column_<%= index+1 %>">
                    <%= render :partial => 'post', :collection => posts, :locals => { :size => :thumb }  %>
                </div>
              </td>
            <% end %>
          </tr>
        <table>
  <% end %>

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '161640670526928', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

