<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Alex R. Kirzhner - <%= h(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/Kirzhner">

    <script type="text/javascript">
    function menuEffects(){
      var submenuItems = $('menu').select('[class="submenu"]');
      var highlightItems = $('menu').select('[class="submenu_highlight"]');

      new Effect.multiple(submenuItems, Effect.Move,
      { x: 12, y: 0, mode: 'relative', transition: Effect.Transitions.spring, duration: 1.0 });

      new Effect.multiple(highlightItems, Effect.Move,
      { x: 12, y: 0, mode: 'relative', transition: Effect.Transitions.spring, duration: 1.0 });

      new Effect.multiple(highlightItems, Effect.Highlight,
      {endcolor: "#D0E6FF", restorecolor: "#D0E6FF"});


      return false;
    }

    </script>


  </head>
  <body>

    <div id=logo>
      <%= link_to image_tag("logo.png", :onload=>"menuEffects();"), root_path %>
    </div>


        <div id=bar>

        </div>

      <div id="container">


        <div id=menu_column>

          <table cellspacing=0 cellpading=0 width=100% height=100% border=0>
            <tr>
              <td valign=top>
                <p>photographer & designer<br/>& illustrator who lives in<br/>New York</p>

                <div id=menu>
                  <%= menu %>

                </div>

                <div id=searchBox>
                  <br />
                  <% form_tag search_path, :method => :get do %>
                    <%= text_field_tag :query, @query, :size => 15, :value => "     search", :onfocus => "if(this.value==this.defaultValue) this.value='';" %>
                    <INPUT type="submit" class="searchButton" value="">

                  <% end %>
                </div>

                <div id=bar_social>
                    <a href="http://feeds.feedburner.com/Kirzhner" rel="alternate" type="application/rss+xml"><%= image_tag "icons/rss.png" %></a>

                    <a href="http://www.facebook.com/people/Alex-R-Kirzhner/100001820013868" target="_TOP"><%= image_tag "icons/fb.png", :alt => "a.r.kirzhner" %></a>
                </div>



              </td>
            </tr>
            <tr>
              <td valign=bottom>
                <div id=copyright><p>all content &copy <%= Time.now.strftime('%Y') %> a.r.kirzhner and respective clients</p></div>

              </td>
            </tr>
          </table>


        </div>

        <div id=main>
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, sanitize(msg), :id => "flash_#{name}" %>
          <%- end -%>

          <%= yield %>
        </div>

      </div>


  </body>
</html>

